
  
.navbar {
  background-color: #fff;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: normal !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  .menu{
    display: none !important;
  }
}

.logo {
  height: 60px;
  width: auto;
  margin-left: 1rem;
}