@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#dashboard #dashboard__component .cover-card__body .cover-picture {
  height: 56vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#dashboard #dashboard__component .cover-card__body .profile_pics__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 250px;
  width: 250px;
  top: -120px;
  /* padding: 10px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  border: 10px solid #ffffff;
  border-radius: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  #dashboard #dashboard__component .cover-card__body .profile_pics__item {
    height: 200px;
    width: 200px;
    top: -100px;
  }

  #dashboard #dashboard__component .cover-card__body .cover-picture {
  height: 26vh;
  border-radius: 10px;
}
}
