<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin Register | TeenGirlsUp
    </title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/icons.min.css">

    <link rel="stylesheet" href="/libs/date-picker/datepicker.css">
    <!-- APP CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body class="">

  
<div class="container">
    <!-- MAIN CONTENT -->
    <div class="main p-0">

        <div class="main-content">
            <section class="login">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header d-flex justify-content-between">
                                <a href="/admin">
                                    <img src="/images/logo.png" alt="" height="100" width="100">
                                </a>
                                
                                <div class="action-reg">
                                    <h4 class="fs-30">Login</h4>
                                    <!-- <a href="#">Create your account</a> -->
                                </div>
    
                            </div>
                            <div class="line"></div>
                            <div class="box-body">
                                <div class="auth-content my-auto">
                                        <center><small class="text-danger"><%if(error){%> <%=error%> <%}%>  </small></center>
                                        <center><small class="text-success"><%if(msg){%> <%=msg%> <%}%>  </small></center>
                                    <form class="mt-5 pt-2" action="/admin/create-admin" method="POST">
                                        <div class="mb-24">
                                            <label class="form-label mb-14">ADMIN E-MAIL</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Admin Email">
                                        </div>
                                        <div class="mb-16">
                                            <div class="d-flex align-items-start">
                                                <div class="flex-grow-1">
                                                    <label class="form-label mb-14">PASSWORD</label>
                                                </div>
                                                <div class="flex-shrink-0">
                                                    <div class="">
                                                        <a href="#" class="text-muted">Forgot password?</a>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="input-group auth-pass-inputgroup">
                                                <input type="password" class="form-control" placeholder="Enter admin password" aria-label="Password" aria-describedby="password-addon" name="password"> 
                                                <button class="btn shadow-none ms-0" type="button" id="password-addon"><i class="far fa-eye-slash"></i></button>
                                            </div>
                                        </div>
                                        <!-- <div class="row mb-29">
                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="remember-check">
                                                    <label class="form-check-label fs-14" for="remember-check">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div> -->
    <br>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn bg-primary color-white w-100 waves-effect waves-light fs-18 font-w500" type="submit">Register</button>
                                        </div>
                                    </form>
    
                                    <div class="mt-20 pt-2 text-center">
                                        <div class="signin-other-title">
                                            <a href="#" class="text-muted fs-14">Forgot password?</a>
                                        </div>
    
                                    </div>
    
                                    <div class="mt-37 text-center">
                                        <p class="text-muted mb-0 fs-14">Already have an account ? <a href="/admin/login" class="text-primary fw-semibold">  Log in </a> </p>
                                    </div>
    
                                    <div class="mt-37 text-center">
    
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a href="javascript:void()" class="social-list-item text-white">
                                                    <i class='bx bxl-facebook-square'></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void()" class="social-list-item text-white">
                                                    <i class='bx bxl-twitter'></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void()" class="social-list-item  text-white">
                                                    <i class='bx bxl-linkedin-square'></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void()" class="social-list-item  text-white">
                                                    <i class='bx bxl-google-plus'></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    </div>
    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->

    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="/libs/jquery/jquery-ui.min.js"></script>
    <script src="/libs/moment/min/moment.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/peity/jquery.peity.min.js"></script>
    <script src="/libs/chart.js/Chart.bundle.min.js"></script>
    <script src="/libs/owl.carousel/owl.carousel.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/countto.js"></script>
    <script src="/libs/date-picker/datepicker.js"></script>
    <script src="/libs/simplebar/simplebar.min.js"></script>
    <script src="/libs/password/pass-addon.init.js"></script>


    <!-- APP JS -->
    <script src="/js/main.js"></script>
    <script src="/js/shortcode.js"></script>
    <script src="/js/pages/datepicker.js"></script>

    <script>
    </script>
</body>

</html>