<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voters page</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <img class="img-fluid" />
                

                <form class="form-group" method="post" action="/api/auth/vote">
                    <input type="hidden" value="<%=userID%>" name="userID" />
                    <input type="hidden" value="<%=contestID%>" name="cid" />
                    <input class="form-control" type="number" name="quantity" max="5" min="1" value="1" />
                    <button class="btn btn-sm">Submit</button>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>